#container {
  background-color: rgb(193, 230, 255);
  margin: 0 auto;
  margin-top: -.5rem;
  max-width: 90%;
}

#header {
  padding-top: 1rem;
  text-align: center;
}

#navbar {
  background-color: green;
}

ul {
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;
}

li {
  list-style-type: none;
  margin: 1rem 3rem;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: blue;
}