html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
  display: flex;
  justify-content: space-between;
  margin-left: -1rem;
  margin-right: 1.6rem;
}

li {
  font-size: 20px;
  list-style-type: none;
  margin: 1rem 3rem;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

h1, a > h1, a > h2 {
  color: rgb(50, 50, 50);
  font-weight: 900;
}

a:hover, a > h1:hover, a > h2:hover {
  color: grey;
}

hr {
  border: 1px solid grey;
}

p {
  color: rgb(92, 91, 91);
  font-size: 18px;
  font-weight: 600;
}

h2, h3 {
  color: rgb(92, 91, 91);
  font-weight: 600;
}

#container {
  background-color: rgb(228, 245, 248);
  margin: 0 auto;
  margin-top: -.5rem;
  max-width: 90%;
  padding-bottom: 1rem;
}

#header {
  background-color: green;
  background-image: linear-gradient(rgb(181, 240, 250), rgb(228, 245, 248));
  position: fixed;
  text-align: center;
  width: 89.1%;
  z-index: 2;
}

#navbar {
  background-image: radial-gradient(circle, lightblue , rgb(76, 82, 99));
  border: 1px solid rgb(161, 161, 161);
  position: fixed;
  margin-top: 7rem;
  width: 89%;
  z-index: 1;
}

#headline {
  display: flex;
  margin: 0 5%;
  padding-top: 15rem;
}

#aside {
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
}

.aside-news {
  margin-top: 1.5rem;
}

.other-news {
  margin: 1.5rem 5%;
}

#bottom {
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
}

#bottom-center {
  margin: 0 2rem;
  padding-bottom: 2rem;
}

#bottom-news-title:hover {
  color: grey;
}

#footer {
  margin-top: 2rem;
  text-align: center;
}